/*body {
  background: url('../img/bg.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

body {
    /* Местоположение фоновой картинки */
    background-image: url("../img/bg1.png");
    /* Фоновое изображение выровнено по центру в горизонтальной и вертикальной плоскостях */
    background-position: center center;
    /* Фон не повторяется */
    background-repeat: no-repeat;
    /* Фон зафиксирован в области просмотра и потому не двигается, когда высота контента превышает высоту изображения */
    background-attachment: fixed;
    /* Это свойство заставляет фон менять масштаб при изменении размеров содержащего его контейнера*/
    background-size: cover;
    /* Цвет фона, который будет отображаться при загрузке фоновой картинки*/
    background-color: #464646; }

/*стиль для слогана аэропорта*/
h1 {
  font-size: 50%;
  font-family: 'Lobster';

}

.onlinetable {
  font-size: 100%;
}

.onlinetable tbody tr {
  cursor: pointer;
}

.metropolslogan {
  font-family: 'Lobster';
}
/*Стили для карусели*/
h4{
    margin: 0;
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;
}

.item{
    background: #333;
    text-align: center;
    height: 200px !important;
}

.carousel{
    margin-top: 20px;
}

.sharelogo {
  height: 30px;
}

.modallogo {
  height: 50px;
}

.picto {
  height: 40px;
}
